- content_for 'motion_preview' do
  .vote-counts= "#{@motion.yes_votes_count} #{pluralize(@motion.yes_votes_count, 'Vote')}!"

- content_for 'motion_votes' do
  - @motion.grouped_unique_votes.each do |vote|
    %tr
      %td= vote.user_name
      %td= render_rich_text(vote.statement)

- content_for 'motion_voting' do
  %table.thread-mailer__vote-buttons
    %tr
      %td.thread-mailer__vote-button
        = link_to(motion_url(@motion, @utm_hash.merge(position: :yes)), class: 'thread-mailer__vote-button-link') do
          = "Vote now!"
